<div class="work_nav ">
    <div class="container">
    <ul class="nav navbar-nav navbar-center">
      <li><%= link_to "最新", root_path%></li>
      <li><%= link_to "最赞", popular_path%></li>
      <li><%= link_to "关注中", feed_path%></li>
   </ul>
  </div>
</div>
