@import "bootstrap-sprockets";
@import "bootstrap";

/* universal */
body{
  padding-top: 60px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

section{
  overflow: auto;
}

textarea{
  resize: vertical;
}

.center {
  text-align: center;
}

.cheter h1 {
  margin-bottom: 10px;
}

/* typography */
h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1{
  font-size: 3em;
  letter-spacing:-2px;
  margin-bottom: 30px;
  text-align: center;
}
h2{
  font-size:1.2em;
  letter-spacing:-1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight:normal;
  color:#777;
}

p{
  font-size: 1.1em;
  line-height: 1.7em;
}

/* header */
#logo{
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
}
#logo:hover{
  color: #fff;
  text-decoration: none;
}
/* not display nav on mobile */
@media(max-width:767px)
{
    nav{
        display:none;
    }

}
@media(min-width:767px)
{
    .mobile-only{
        display:none;
    }
}
.menu-o{
    float:right;
    margin-top:2%;
}
.menu-c{
    float:right;
    margin-top:2%;
}
.menu-btn-c{
    display:none;
}


.mobile-menu{
    z-index:10000;
    width:60.8%;
    height: 100%;
    background-color: #454545;
    position:fixed;
    top:0px;
    left:-60.8%;
    ul{
        padding-left:0px;
    }
    li{
        text-align:center;
        list-style:none;
        font-size: 1.1em;
        height: 60px;
        border-bottom:0.5px solid #A0A0A0;
        display:block;
        a{
            color: #fff;
            text-decoration:none;
            display:block;
            height:100%;
            line-height:60px;
        }
        a:hover{
            background-color:#222;
        }
    }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: #777;
}

footer a{
  color: #222;
}
footer small{
  float: left;
}
footer ul{
  float: right;
  list-style: none;
}
footer ul li{
  float: left;
  margin-left: 15px;
}

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* miscellaneous */
.debug_dump{
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}

/* sidebar */
aside{
  section.user_info {
    margin-top: 20px;

  }
  section{
    padding: 10px 0;
    margin-top: 20px;
    &:first-child{
      border: 0;
      padding-top: 0;
    }
    span{
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1{
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar{
  float: left;
  margin-right: 10px;
}

.gravatar_edit{
  margin-top: 15px;
}

/* forms */
input, textarea, select, .uneditable-input{
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}
input {
  height: auto !important;
}
#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}

.field_with_errors{
  @extend .has-error;
  .form-control{
    color: $state-danger-text;
  }
}

.checkbox{
  margin-top: -10px;
  margin-bottom: 10px;
  span{
    margin-left: 20px;
    font-weight: normal;
  }
}
#session_remember_me{
  width: auto;
  margin-left: 0;
}

/* Users index */
.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}
.stats{
    overflow:auto;
    margin-top: 0;
    padding: 0;
    a{
        float:left;
        padding:0 10px;
        border-left: 1px solid $gray-lighter;
        color: gray;
        &:first-child{
            padding-left: 0;
            border: 0;
        }
        &:hover {
            text-decoration: none;
            color: blue;
        }
    }
    strong{
        display: block;
    }
}
.user_avatars{
    overflow: auto;
    margin-top: 10px;
    .gravatar {
        margin: 1px 1px;
    }
    a{
        padding:0;
    }
}
.users.follow{
    padding:0;
}

/* work_nav */
.work_nav{
  width:100%;
  height: 50px;
  border-bottom: 1px solid #e5e5e5;
  background: rgba(255,255,255,0.6);
  ul{
    li{
    float:left;
    list-style:none;
    margin:0 10px;
    line-height:50px;
    a{text-decoration:none;
      font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
      color: #9d9d9d;
    }
    a:hover{ color: black;}
    }
  }
}

/* paginate*/
.pagination{
  margin-left: auto;
  margin-right: auto;
}
.will_paginate{
  position:relative;
  
}
