// Place all the styles related to the Works controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


div .work{
    margin-top: 25px;
    width: 220px;
    height: 162 px;
    position: relative;
    float: left;
    }
.work_pic{
    margin:0px 10px;
    width:200px;
    height:150px;
}
.work_pic img {
    width: 200px;
    height: 150px;
}
div.about{
    display: none;
    width: 200px;
    position: absolute;
    top: 5px;
}

div .work_pic:hover .about{
    display: block;
}

div .work_pic:hover img{
    filter:alpha(opacity=60);
    -moz-opacity:0.5;
    opacity: 0.5;
}

div.deginer{
    width:200px;
    margin:0px 10px;
}
div.deginer_name{
    float:left;
    width:100px;
}
div.like{
    padding-right:2px;
    text-align:right;
    float:right;
    width:100px;
}
/* show page  */
div.work-comment{
    width:750px;
}
div.author{
    height:70px;
}
div.author img
{
    width:60px;
    height:60px;
    float:left;
    padding:5px 0px;
    border-radius:50%;
}
div.user-message
{
    float:left;
    height:50px;
    padding:10px 0px;
}
div.author .subject
{
    float:left;
    line-height:25px;
    font-size:25px;
    padding-left:10px;
}
div.author .name
{
    float:left;
    line-height:25px;
    font-size:10px;
    padding-left:10px;
    span{ color: #777; }
}
div.picture-show
{
    margin-top:20px;
}
div.picture-show img
{
    width:750px;
    height:430px;
}
div.desc
{
    margin-top:10px;
    font-size:17px;
    text-indent:25px;
}
div.comments-num
{
    font-size:30px;
    margin:10px 0px;
}

