<footer class="footer">

  <small>
    图片上传的效应，由bevanzpf@gamil.com开发
  </small>
  <nav>
    <ul>
      <li> <%= link_to "about", about_path %></li>
      <li> <%= link_to "Contact", '#' %></li>
    </ul>
    </nav>
    </footer>
