<div class="clearfix">
</div>
<footer class="footer">


  <small>
   图片上传的小玩具.
  </small>
  <nav>
    <ul>
      <li> <%= link_to "about", about_path %></li>
      <li> <%= link_to "Contact", '#' %></li>
    </ul>
    </nav>
    </footer>
